stages:
  - test
  - deploy

test_web:
  stage: test
  image: node:20
  variables:
    CI: "true"
  cache:
    key: web-node-modules
    paths:
      - node_modules/
  script:
    - npm ci
    - npm test -- --coverage --run

test_rust:
  stage: test
  image: rust:1.77
  cache:
    key: rust-cargo-cache
    paths:
      - /usr/local/cargo/registry
      - /usr/local/cargo/git
      - src-tauri/target
  script:
    - cd src-tauri
    - cargo test --all --locked

sync_to_github:
  stage: deploy
  only:
    - main
  script:
    - git config --global user.name "GitLab CI"
    - git config --global user.email "ci@gitlab.com"

    # Add GitHub remote
    - git remote add github https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/lolikgiovi/adtools-revamp.git

    # Create a local branch that points to the current commit
    - git checkout -b main

    # Force push to GitHub main
    - git push github main --force
